.productsSection {
  padding: 5rem 0;
  background-color: var(--suave);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.grid>* {
  max-width: 382px;
  justify-self: center;
}

.grid> :nth-child(4),
.grid> :nth-child(5) {
  grid-row: 2;
}

.grid> :nth-child(4) {
  grid-column: 1 / 3;
}

.grid> :nth-child(5) {
  grid-column: 2 / 4;
}

.card {
  background-color: var(--cartao);
  border-radius: var(--raio);
  box-shadow: var(--shadow-card);
  transition: var(--transition-smooth);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px var(--texto-suave);
}

.cardContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-height: 120px;
  padding-inline: 1.5rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: var(--raio);
  background-color: var(--psa-verde);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.psaVerde {
  color: var(--fundo);
}

.cardText {
  flex: 1;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
  transition: color 0.3s ease;
  color: var(--texto);
}

.card:hover .cardTitle {
  color: var(--psa-verde);
}

.cardDescription {
  color: var(--texto-suave);
  line-height: 1;
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }

  .grid> :nth-child(4),
  .grid> :nth-child(5) {
    grid-row: auto;
    grid-column: auto;
  }

  .grid> :nth-child(5) {
    grid-column: 1 / -1;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 390px) {
  .productsSection {
    padding-inline: 1rem;
  }
}