.hero {
  position: relative;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.background img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: .8;
  background: var(--gradient-hero);
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  color: var(--texto-psa-escuro);
}

.textWrapper {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1;
  color: var(--texto-cartao);
}

.highlight {
  color: var(--psa-verde);
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 676px;
  margin: 0 auto 2rem;
  opacity: .9;
  color: var(--texto-primario);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  border-radius: var(--raio);
}

.btnPrimary {
  box-shadow: 0 0 10px -2px var(--anel);
  background-color: var(--botao);
  color: var(--texto-primario);
  transition: color 150ms, background-color 150ms, border-color 150ms,
    text-decoration-color 150ms, fill 150ms, stroke 150ms;
}

.btnPrimary:hover {
  box-shadow: 0 0 10px 0 var(--anel);
  background-color: var(--primario);
}

.btnPrimary:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btnOutline {
  background: transparent;
  color: var(--texto-primario);
  border: 2px solid var(--texto-primario);
}

.btnOutline:hover {
  background: rgba(255, 255, 255, 0.1);
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.statItem {
  text-align: center;
}

.statNumber {
  font-size: 2rem;
  font-weight: bold;
  color: var(--psa-verde);
}

.statText {
  color: var(--texto-primario);
  opacity: 0.9;
}

.scrollIndicator {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
}

.mouse {
  width: 20px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
}

.wheel {
  width: 2px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 9999px;
  margin-top: 8px;
  animation: pulse 1.5s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -8px);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}